* {
  margin: 0;
  padding: 0;
  }
  html,body{
    margin:0;
    padding:0;
 }

#root{
  margin: 0;
  padding: 0;
  margin-left: 0;
}

.question{
  font-weight: 700;
  font-size: 30px;
  color: #333;
}

.askedby{
  color: #999 !important;
  font-size: small;
}
.user, .user:link, .user:visited{
  color: blue;
  font-size: small;
  cursor: pointer;
  text-decoration: underline;
}
.user:hover{
  text-decoration: none;
  text-shadow: 1, 1, 1, #555;
}

.qdate{
  color: #999 !important;
  font-size: small;
}
.answers{
  font-weight: 700;
  font-size: 16;
  color: #d32323;
}

.top .answerdate{
  float: right;
  color : #999;
  padding : 10px;
}
.top .answeruser{
  font-weight: bold;
}
.delete{
  float: right;
  border: none;
  margin-top: 6px;
  margin-right: 10px;
  background: transparent;
}
.trow{
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.tbody{
  padding: 15px;
}
.table{
  font-size: 14px;
  max-height: 312px;
}
.thumbup, .thumbdown{
  margin-right: 10px;
  padding: 5px 8px;
  border-color: lightslategray;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  transition: background-color .5s ease;
}
.thumbup:hover{
  background-color: lightgrey;
}
.thumbdown:hover{
  background-color: lightgray;
}
.provideanswer{
  color: #333333;
  font-size: 14px;
  font-weight: 700;
}
.btnprovide{
background: #d32323;
color: #fff;
padding: 5px 15px 5px;
transition: background-color .3s ease;
border-radius: 3px;
box-shadow: 3px 3px 5px #666;;
}
.btnlogout{
  margin-right : 30px;
}
.btnprovide:hover{
  opacity: .8;
}
.btnprovide:active{
  transition: all .1s;
  transform: translate(1px,1px);
  box-shadow: 0px 0px 0px;
}
.qsection{
  text-align: left;
  margin-top: 50px;
}
.btnask{
  background: #d32323;
  color: #fff;
  padding: 5px 15px 5px;
  transition: background-color .3s ease;
  border-radius: 3px;
  box-shadow: 3px 3px 5px #666;
}
.btnask:hover{
  opacity: .8;
}
.btnask:active{
  transition: all .1s;
  transform: translate(1px,1px);
  box-shadow: 0px 0px 0px;
}
select, option {
  width: 100%
}

.btnlogin {
  margin-right : 10px;
}